---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found" description="Classic 404 Page">
  <div class="flex h-screen max-w-5xl px-4 py-8 mx-auto">
    <section
      class="p-8 m-auto bg-gray-100 rounded-lg dark:bg-neutral-900 dark:text-gray-300"
    >
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 sm:items-center">
        <blockquote class="sm:col-span-2">
          <p class="mb-10 text-xl font-bold sm:text-2xl dark:text-gray-200">
            Sorry, this page doesn't seem to exist 💀
            <br /><p class="mb-10 text-xl font-medium sm:text-2xl">
              No matter how hard you look, youll never find me. Unless you have
              a telescope to help you see. I was once called a planet, but not
              anymore.
            </p>
          </p>

          <cite class="inline-flex items-center not-italic">
            <span class="hidden w-6 h-px bg-gray-400 sm:inline-block"></span>
            <a
              href="/"
              class="max-w-sm text-xl font-bold leading-tight font-display"
            >
              <span
                class="text-gray-700 link link-underline link-underline-black dark:text-gray-300"
              >
                Go to homepage, start over?
              </span>
            </a>
          </cite>
        </blockquote>
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#374151, #374151);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  @media (prefers-color-scheme: dark) {
    .link-underline-black {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#e5e7eb, #e5e7eb);
    }
  }
</style>
