---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets'
import { Icon } from "astro-icon";
---

<MainLayout title="About Me" description="Who is Burak and what he does?">
  <div class="flex max-w-5xl min-h-screen px-4 py-8 mx-auto">
    <section class="p-8 m-auto rounded-lg">
      <div
        class="grid h-full grid-cols-1 gap-12 md:grid-cols-3 md:items-center"
      >
        <Image
          alt="Burak"
          src="/images/headshot.webp"
          class="object-cover w-full h-full rounded-lg aspect-square"
          width={400}
          height={400}
          format="webp"
          fit="cover"
          quality={80}
        />

        <blockquote class="sm:col-span-2">
          <p class="text-xl font-medium sm:text-2xl dark:text-gray-200">
            <span class="font-bold"
              >A deeper look <span class="inline-block animate-bounce">👇</span
              ></span
            ><br /><span class="prose text-normal dark:text-gray-300"
              >I'm a QA Engineer at OSF Digital! I have a passion for technology
              and I've accumulated years of experience in teaching and various
              tech fields. When I'm not testing software, I love to express my
              creativity by writing fiction stories. I'm a big believer in
              keeping things simple and clean, that's why I'm a software
              minimalist! I also have a knack for tinkering with technology and
              finding new ways to use it. Let's geek out together! 🤓
            </span>
          </p>
          <div
            class="dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-500"
          >
            <p
              class="inline-block mt-5 mr-5 transition duration-150 ease-in-out hover:-translate-y-0.5"
            >
              <a href="https://www.linkedin.com/in/buraksum/" target="_blank">
                <Icon name="tabler:brand-linkedin" height="25" widht="25" />
              </a>
            </p>
            <p
              class="inline-block mt-5 mr-5 transition duration-150 ease-in-out hover:-translate-y-0.5"
            >
              <a href="https://github.com/burraksumer" target="_blank">
                <Icon name="tabler:brand-github" height="25" widht="25" />
              </a>
            </p>
            <p
              class="inline-block mt-5 mr-5 transition duration-150 ease-in-out hover:-translate-y-0.5"
            >
              <a href="https://www.youtube.com/@brokiama" target="_blank">
                <Icon name="tabler:brand-youtube" height="25" widht="25" />
              </a>
            </p>
            <p
              class="inline-block mt-5 mr-5 transition duration-150 ease-in-out hover:-translate-y-0.5"
            >
              <a
                href="https://snort.social/p/npub1h3m9926t5nm6eg5l93q8al6qn3hvcvd3c4zrjfu54dgw0ctz622sxwznam"
                target="_blank"
              >
                <Icon name="tabler:currency" height="25" widht="25" />
              </a>
            </p>
            <p
              class="inline-block mt-5 mr-5 transition duration-150 ease-in-out hover:-translate-y-0.5"
            >
              <a href="https://fosstodon.org/@bu" target="_blank" rel="me">
                <Icon name="brand-mastodon" height="25" widht="25" />
              </a>
            </p>
          </div>

          <cite class="inline-flex items-center mt-4 not-italic">
            <span class="hidden w-6 h-px sm:inline-block dark:bg-neutral-700"
            ></span>
            <a
              href="mailto: burak@mulayim.app"
              class="max-w-sm text-xl font-bold leading-tight font-display"
            >
              <span
                class="text-gray-700 link link-underline link-underline-black dark:text-gray-300"
              >
                Get in Touch 🚀
              </span>
            </a>
          </cite>
        </blockquote>
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#374151, #374151);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  @media (prefers-color-scheme: dark) {
    .link-underline-black {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#e5e7eb, #e5e7eb);
    }
  }
</style>
