---
// component imports
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

// layout imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Homepage" description="Homepage of my website">
  <div
    class="max-w-screen-xl min-h-screen px-4 py-6 mx-auto sm:px-6 lg:px-8 dark:text-gray-300"
  >
    <div class="max-w-screen-xl min-h-screen px-4 py-4 mx-auto sm:px-6 lg:px-8">
      <div
        class="max-w-screen-xl min-h-screen px-4 pb-8 mx-auto prose sm:px-6 lg:px-8"
      >
        <section>
          <div class="min-h-screen px-4 py-16 mx-auto sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
              <div
                class="relative h-full overflow-hidden rounded-md md:rounded-lg sm:h-full lg:order-last lg:h-full"
              >
                <a
                  href=""
                  target="_blank"
                  id="songURL"
                  rel="noopener noreferrer"
                >
                  <Image
                    alt="Last played song"
                    id="songImage"
                    src="/images/defaultMusicImage.webp"
                    class="object-cover w-full transition rounded-lg aspect-square mb-0"
                    width={400}
                    height={400}
                    format="webp"
                    fit="cover"
                    quality={80}
                    aspectRatio="1:1"
                  />
                </a>
                <p
                  class="my-2 text-center text-lg text-gray-600 dark:text-gray-300"
                >
                  <span class="">Last played:</span>
                  <span class="font-semibold" id="songName"
                    >Default song title</span
                  >
                  <span class="">by</span>
                  <br class="hidden" />
                  <span class="font-semibold" id="artistName"
                    >Default artist name</span
                  >
                </p>
              </div>

              <div class="lg:py-24">
                <h2 class="text-3xl font-bold sm:text-4xl dark:text-gray-200">
                  Hello, it's Burak <span
                    class="inline-block origin-bottom-right animate-waving-hand"
                    >👋
                  </span>
                </h2>

                <p class="mt-4 text-gray-600 dark:text-gray-300">
                  I'm a QA Engineer with a passion for Front-End Development and
                  all things tech. When I'm not finding bugs and ensuring
                  quality in my day job, I enjoy keeping up with the latest tech
                  advancements and tinkering with new tools.
                </p>

                <a
                  href="#what-i-do"
                  class="inline-flex items-center px-8 py-3 mt-6 text-gray-100 no-underline transition duration-150 ease-in-out bg-gray-500 border border-gray-500 rounded hover:bg-transparent hover:text-gray-500 focus:outline-none focus:ring active:text-gray-500 hover:translate-y-1 dark:bg-neutral-700 dark:border-neutral-700 dark:hover:bg-neutral-500 dark:hover:text-gray-200"
                >
                  <span class="text-sm font-medium"
                    >Click to see what I do
                  </span>
                  <Icon
                    class="ml-2"
                    name="tabler:chevron-down"
                    height="25"
                    widht="25"
                  />
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section id="what-i-do">
        <div class="min-h-screen px-4 py-16 sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-1 lg:gap-16">
            <div class="py-10">
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                I write <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-1 dark:hover:text-gray-200"
                  href="/blog/"
                  >blogs
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                I write <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-1 dark:hover:text-gray-200"
                  href="/blog/letter-1/"
                  >fictions
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                I make <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-1 dark:hover:text-gray-200"
                  href="https://www.youtube.com/@brokiama"
                  target="_blank"
                  >youtube videos
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                I published <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-1 dark:hover:text-gray-200"
                  href="https://www.goodreads.com/book/show/57960794-rhymery"
                  target="_blank"
                  >a poetry book
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                I use <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-1 dark:hover:text-gray-200"
                  href="https://raw.githubusercontent.com/burraksumer/pgp/main/public.asc"
                  target="_blank"
                  >PGP
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>

              <p class="my-10 text-3xl font-bold sm:text-4xl">
                You can <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-x-0.5 dark:hover:text-gray-200"
                  href="/about/"
                  >learn more about me!
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-right"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
              <!--               <p class="my-10 text-3xl font-bold sm:text-4xl">
                You can <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-y-0.5 dark:hover:text-gray-200"
                  href="https://burak.mulayim.app/cvBurakSumer.pdf"
                  target="_blank"
                  >asd
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-down"
                    height="25"
                    widht="25"
                  />
                </a>
              </p> -->
              <p class="my-10 text-3xl font-bold sm:text-4xl">
                You can download <a
                  class="box-border inline-block mr-2 underline transition duration-150 ease-in-out hover:text-gray-500 hover:translate-y-0.5 dark:hover:text-gray-200"
                  href="https://burak.mulayim.app/cvBurakSumer.pdf"
                  target="_blank"
                  >my printable resume
                  <Icon
                    class="inline-block ml-2"
                    name="tabler:chevron-down"
                    height="25"
                    widht="25"
                  />
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>

<script>
  async function fetchMusic() {
    let response = await fetch("https://api.mulayim.app/");

    let data = await response.json();
    let songName = document.getElementById("songName");
    let artistName = document.getElementById("artistName");
    let songImage = document.getElementById("songImage");
    let songURL = document.getElementById("songURL");
    let songImageURL = data.recenttracks.track[0].image[3];
    let artistNameSelected = data.recenttracks.track[0].artist;

    songName.innerHTML = data.recenttracks.track[0].name;
    songImage.setAttribute("src", songImageURL["#text"]);
    artistName.innerHTML = artistNameSelected["#text"];
    songURL.setAttribute("href", data.recenttracks.track[0].url);
  }

  fetchMusic();
</script>
