---
//library imports
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<footer
  aria-label="Site Footer"
  class="inset-x-0 bottom-0 bg-gray-50 dark:bg-neutral-700"
>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center sm:justify-start">
        <!-- * Add wallets here probably. -->
        <div id="wcb" class="carbonbadge wcb-d">&#8205;</div>
      </div>

      <p
        class="text-sm text-center text-gray-500 dark:text-gray-200 lg:mt-0 lg:text-center"
      >
        &copy; <span id="copyright"></span><a
          href="http://www.wtfpl.net/"
          target="_blank"
        >
          WTFPL.</a
        >
      </p>
      <div class="flex justify-center sm:justify-start my-6">
        <a href="https://512kb.club" target="_blank"
          ><img src="https://512kb.club/assets/images/green-team.svg" /></a
        >
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();

  document.getElementById("#wcb_2").classList.add("text-gray-500");
</script>

<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer
></script>
