---
//library imports
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<footer
  aria-label="Site Footer"
  class="inset-x-0 bottom-0 bg-gray-50 dark:bg-neutral-700"
>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center sm:justify-start my-5">
        <div>
          <a
            href="https://512kb.club"
            target="_blank"
            rel="noopener noreferrer"
            class="my-6 inline-block"
            ><div>
              <span
                class="px-2 py-2 font-semibold bg-[#c8e6c9] dark:text-gray-700"
              >
                512KB CLUB
              </span>
              <span class="px-2 py-2 font-bold bg-[#4caf50] text-black">
                GREEN TEAM
              </span>
            </div></a
          >
          <br />
          <a
            href="https://www.websitecarbon.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="px-2 py-2 font-semibold bg-[#c8e6c9] text-gray-700">
              <span id="carbonGram"></span>g of CO<sub>2</sub>/view
            </span>
            <span class="px-2 py-2 font-bold bg-[#4caf50] text-black">
              WEBSITE CARBON
            </span>
            <br />
            <p class="my-2 text-gray-600 dark:text-gray-300">
              Cleaner than <span id="carbonPercent"></span>% of the pages
              tested.
            </p>
          </a>
        </div>
      </div>

      <p
        class="text-sm text-center text-gray-600 dark:text-gray-200 lg:mt-0 lg:text-center"
      >
        &copy; <span id="copyright"></span><a
          href="http://www.wtfpl.net/"
          target="_blank"
        >
          WTFPL.</a
        >
      </p>
      <!-- ! RSS GOES HERE -->
      <!-- * Add wallets here probably. -->
      <!--       <div class="flex justify-center sm:justify-start my-8">

      </div> -->
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();

  async function fetchCarbon() {
    let response = await fetch("https://api.mulayim.app/carbon");

    let data = await response.json();
    let carbonPercent = document.getElementById("carbonPercent");
    let carbonGram = document.getElementById("carbonGram");

    carbonPercent.innerHTML = data.cleanerThan;
    carbonGram.innerHTML = data.statistics.co2.grid.grams.toFixed(2);
  }

  fetchCarbon();
</script>
