---
import { Icon } from "astro-icon";

const { prevUrl, nextUrl, currentPage, lastPage } = Astro.props;
---

<div class="flex items-center justify-center text-center">
  {
    prevUrl && (
      <a
        href={prevUrl}
        class="inline-flex items-center justify-center w-8 h-8 duration-150 rounded hover:-translate-x-2"
        rel="prefetch"
      >
        <span class="sr-only">Previous Page</span>
        <Icon
          class="w-6 h-6 dark:text-gray-200"
          name="tabler:chevron-left"
          height="17"
          widht="17"
        />
      </a>
    )
  }

  {
    (
      <p class="text-s dark:text-gray-200">
        {currentPage}
        <span class="mx-0.5">/</span>
        {lastPage}
      </p>
    )
  }

  {
    nextUrl && (
      <a
        href={nextUrl}
        class="inline-flex items-center justify-center w-8 h-8 duration-150  rounded hover:translate-x-2"
        rel="prefetch"
      >
        <span class="sr-only">Next Page</span>
        <Icon
          class="w-6 h-6 dark:text-gray-200"
          name="tabler:chevron-right"
          height="17"
          widht="17"
        />
      </a>
    )
  }
</div>
